.toolbar {
    display: flex;
    align-items: center;
    background-color: #1e4b4f;
    font-weight: 600;
    color: white;
    justify-content: center;
    position: fixed;
    height: 5vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
