app-footer{
    position: fixed;
    height: 50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1e4b4f;
    font-weight: 600;
    color: white;
    justify-content: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
